* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: rgb(23, 190, 170);
    background: linear-gradient(
        90deg,
        rgba(23, 190, 170, 1) 50%,
        rgba(141, 214, 202, 1) 100%
    );
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-image{
    position: relative;
    background-image: url('../../public/images/backgrounds/auth.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 9% 0;
}
