* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.active {
    position: relative;
    z-index : 1;
    padding: 0 0 20px;
}

.active:before {
    content : "";
    position: absolute;
    transform: translate(-50%, -50%);
    left    : 50%;
    bottom  : 0;
    height  : 1px;
    width   : 60px;
    border-bottom: 4px solid #17AF9D;
    border-radius: 10px;
}
.z-index{
    z-index: 10;
}
.text-unranked {
    color: #6B6963;
}
.text-iron {
    color: #51484A;
}
.text-bronze {
    color: #8C513A;
}
.text-silver {
    color: #80989D;
}
.text-gold {
    color: #CD8837;
}
.text-platinum {
    color: #25ACD6;
}
.text-emerald {
    color: #519847;
}
.text-diamond {
    color: #8141EB;
}
.text-master {
    color: #9E4AE0;
}
.text-grandmaster {
    color: #CD4545;
}
.text-challenger {
    color: #F4C874;
}
.bg-kda_blue {
    color: #2D62D7;
}
.bg-kda_red {
    color: #F54B4E;
}
.bg-kda_orange {
    color: #F69601;
}

.hidden {
    display: none;
}
